<div class="container">
        <h1>Tela de Consulta</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {{#each post}}
                <tr>
                    <td>{{this.nome}}</td>
                    <td>{{this.telefone}}</td>
                    <td>
                        <button class="btn btn-primary" href="/editar/{{this.id}}">Editar</button>
                        <button class="btn btn-danger" href="/excluir/{{this.id}}">Excluir</button>
                    </td>
                </tr>
            {{/each}}
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>